In [ ]:
                             ##Data Types and Structures

##1.What are data structures, and why are they important?
-->**Data structures** are specialized formats for organizing, storing, and managing data to enable efficient access, modification, and processing. They are crucial because they optimize performancem reduce resource usage, and siplify complex operations in programs.

**Importance:**

**Efficiency**: Enable fast data retrieval, insertion, and deletion (e.g., searching in O(1) with hash tables).

**Scalability**: Handle large datasets effectively (e.g., trees for hierarchical data).

**Organization**: Structure data for specific use cases (e.g., graphs for networks).
Reusability: Provide standardized solutions for common problems.

##2.Explain the difference between mutable and immutable data types with examples.
-->**Mutable Data types**: objects whose state or contents can be altered after creation.

1.can be changed in-place

2.same object ID after changes

3.Faster for incentersplace edits.

**eg, List, Dictionary, set**

In [ ]:
my_list = [1, 3, 5, "apple", 4.666]

In [ ]:
my_list.append(9)

In [ ]:
print(my_list) #Therefore, list is modifible

[1, 3, 5, 'apple', 4.666, 9]

In [ ]:
My_Dict={"a":1,"b":2 , "c":3}

In [ ]:
My_Dict["m"]=13

In [ ]:
print(My_Dict)

{'a': 1, 'b': 2, 'c': 3, 'm': 13}

In [ ]:
Set = {2, 4, 6, 8}

In [ ]:
Set.add(10)

In [ ]:
print(Set)

{2, 4, 6, 8, 10}

##Immutable Data Types:
Objects whose state or contents cannot be changed after creaton.
1. cannot be changed; new objected created
2. New object ID for changes
3. Safer for concurrency, but copying can be slower.

**e.g String, Tuple, integer, Frozen Set**

In [ ]:
# string Data type
s1="hello world"

In [ ]:
s1(0)==H # string object does not support item assignment

TypeError: 'str' object is not callable

In [ ]:
# tuple data type
t = (1, 6, "soumik", 5,9.6)

In [ ]:
t[1]=10

TypeError: 'tuple' object does not support item assignment

##3. What are the main differences between lists and tuples in Python?
--**>LIST:**

   1.Mutable: Can be modified (e.g., append, remove).

   2.Defined with square brackets: [1, 2, 3]

   3.Slower due to mutability overhead.

   4.Uses more memory (dynamic resizing)

   5.Many methods (e.g., append(), pop(), sort()).

   6.Dynamic data that needs modification (e.g., growing lists).

   7.Not hashable (cannot be dictionary keys).

In [ ]:
my_list=[1, 2, 4, 6]
my_list.append(8)

In [ ]:
my_list

[1, 2, 4, 6, 8]

**Tuple:**

1.	Immutable: Cannot be changed after creation.
2. Defined with parentheses: (1, 2, 3)
3. Faster due to immutability (fixed size).
4.Uses less memory (fixed structure).
5.Few methods (e.g., count(), index()).
6. Fixed data, like constants or dictionary keys.
7.Hashable (can be dictionary keys if elements are hashable).

In [ ]:
t1=(1,4,9,12)
t1+(7,) # a new tuple will be formed.

(1, 4, 9, 12, 7)

##4.Describe how dictionaries store data
-->In Python, dictionaries store data as **key-value pairs**, providing an efficient way to** map unique keys **to associated values. They are implemented using a hash table under the hood, which ensures fast lookups, insertions, and deletions.

A dictionary is a collection of key-value pairs, e.g., {"name": "Alice", "age": 25}.

Keys must be immutable (e.g., strings, numbers, tuples) and unique.
Values can be any data type (mutable or immutable) and need not be unique.

In [ ]:
my_dict = {"name": "Soumik", "age": 26}
my_dict["city"] = "Burdwan"
print(my_dict["name"])
del my_dict["age"]
print(my_dict)

Soumik
{'name': 'Soumik', 'city': 'Burdwan'}


##5.Why might you use a set instead of a list in Python?
We might use a **set** instead of a **list** in Python for the following reasons:

1. **Uniqueness**: Sets automatically ensure all elements are unique (no duplicates), while lists allow duplicates.
   - **Example**: `my_set = {1, 2, 2}` → `{1, 2}`; `my_list = [1, 2, 2]` → `[1, 2, 2]`.

2. **Faster Membership Testing**: Sets use a hash table, making `in` operations O(1) on average, compared to O(n) for lists.
   - **Example**: `3 in my_set` is faster than `3 in my_list` for large datasets.

3. **Set Operations**: Sets support efficient mathematical operations like union, intersection, and difference, which are cumbersome with lists.
   - **Example**: `set1 = {1, 2, 3}; set2 = {2, 4}; set1 & set2` → `{2}` (intersection).

4. **Memory Efficiency**: Sets can be more memory-efficient for unique elements, as they store only one copy of each item.

5. **Use Case Fit**: Sets are ideal for tasks like removing duplicates, checking membership, or performing set algebra (e.g., finding common items).
   - **Example**: Deduplicating a list: `unique = set([1, 2, 2, 3])` → `{1, 2, 3}`.

**When to Use a List Instead**:
- If you need ordered data, duplicates, or indexing (e.g., `my_list[0]`), use a list, as sets are unordered and don’t support indexing.

##6.What is a string in Python, and how is it different from a list
-->A string in Python is an immutable, ordered sequence of characters used to represent text. It is defined using single quotes ('hello'), double quotes ("hello"), or triple quotes ('''hello''' for multiline).

Key Traits:

**Immutable**: Cannot be modified in-place (e.g., s[0] = 'x' raises an error).
Ordered: Characters have specific positions (accessible via indexing, e.g., s[0]).

**Unicode Support:** Can store any character, including emojis or non-Latin scripts.
Example: s = "hello"; print(s[1]) → 'e'.

In [ ]:
s = "hello"        # String
lst = [1, 2, 3]   # List

In [ ]:
s[0]

'h'

In [ ]:
lst[0]=9

In [ ]:
lst # mutable

[9, 2, 3, 5]

In [ ]:
s + "!" # new string , immutable

'hello!'

In [ ]:
lst.append(6) # mutable

In [ ]:
lst

[9, 2, 3, 5, 6]

##7.How do tuples ensure data integrity in Python?
--> Tuples in Python ensure **data integrity** due to their **immutable** nature and related properties, which prevent unintended modifications and maintain consistency. Here's how:

1. **Immutability**:
   - Once created, a tuple's elements cannot be changed (no additions, deletions, or modifications).
   - **Example**: `t = (1, 2, 3); t[0] = 4` raises a `TypeError`.
   - **Benefit**: Guarantees the data remains constant, preventing accidental or unauthorized changes.

2. **Hashability**:
   - Tuples are hashable (if their elements are hashable), making them suitable as keys in dictionaries or elements in sets.
   - **Example**: `d = {(1, 2): "value"}` is valid; a list cannot be a key.
   - **Benefit**: Ensures consistent, reliable use in hash-based structures, maintaining data integrity in mappings.

3. **Thread Safety**:
   - Immutability makes tuples safe for concurrent access in multithreaded programs, as no thread can modify the tuple.
   - **Benefit**: Prevents race conditions without needing locks.

4. **Fixed Structure**:
   - Tuples enforce a fixed size and order, ensuring the structure of the data remains predictable.
   - **Example**: A tuple `(x, y)` for coordinates won't unexpectedly change to `(x, y, z)`.
   - **Benefit**: Reliable for representing structured, unchanging data like records or return values.

5. **Use in Return Values and Packing/Unpacking**:
   - Tuples are often used to return multiple values from functions (e.g., `return 1, 2`), ensuring the returned data isn't altered.
   - **Example**: `x, y = (10, 20)` preserves the pair's integrity during unpacking.
   - **Benefit**: Maintains data consistency in function outputs.


```

##8.What is a hash table, and how does it relate to dictionaries in Python?
-->A **hash table** is a data structure that stores **key-value pairs** using a hash function to map keys to indices for fast O(1) average-case lookups, insertions, and deletions.

**Relation to Dictionaries**: In Python, **dictionaries** are implemented as hash tables. Keys are hashed to determine storage locations, enabling efficient key-based access (e.g., `d["key"]`). Collisions are resolved via open addressing, ensuring quick operations.

**Example**: `d = {"name": "Alice"}` uses a hash table to store `"name"` (key) and `"Alice"` (value).

##9.Can lists contain different data types in Python.
--> Yes, lists in Python can contain different data types. They are heterogeneous, meaning elements can be of any type (integers, strings, floats, other lists, objects, etc.), and elements do not need to be of the same type.

In [ ]:
my_list = [1, "hello", 3.14, [2, 3], {"key": "value"}]
print(my_list)  # [1, 'hello', 3.14, [2, 3], {'key': 'value'}]

[1, 'hello', 3.14, [2, 3], {'key': 'value'}]

##10.Explain why strings are immutable in Python.
-->
Strings in Python are immutable because their contents cannot be changed after creation. This design choice is driven by several key reasons:

**Hashability**:

Immutable objects can be hashed consistently, making strings suitable as keys in dictionaries or elements in sets.
Example: d = {"key": "value"} relies on "key" having a fixed hash value.
If strings were mutable, their hash could change, breaking hash-based structures.

**Memory Efficiency:**

Immutability allows Python to intern strings (reuse identical strings in memory), reducing memory usage.
Example: s1 = "hello"; s2 = "hello" often points to the same memory location.

**Thread Safety:**

Immutable strings are inherently safe in multithreaded environments, as no thread can modify them, preventing race conditions.
Example: Multiple threads can read "hello" without synchronization.

**Data Integrity:**
Immutability ensures strings remain consistent, preventing unintended modifications in critical contexts like configuration data or function arguments.
Example:

 Passing "config" to a function guarantees it won’t be altered.


**Performance Optimization**:
Immutability simplifies internal optimizations, like caching string operations or reusing string objects, as Python knows the string won’t change.
Example:

 String slicing (e.g., "hello"[1:3]) creates a new string efficiently.
How It Works:

Any operation that seems to modify a string (e.g., s = "hello"; s += " world") creates a new string ("hello world") rather than altering the original.

##11.What advantages do dictionaries offer over lists for certain tasks?
-->Dictionaries offer advantages over lists for certain tasks due to their **key-value** structure and **hash table** implementation:

1. **Fast Lookups**: O(1) key access vs. O(n) list search (e.g., `d["key"]` vs. `lst.index("key")`).
2. **Key-Based Access**: Meaningful keys vs. numeric indices (e.g., `d["name"]` vs. `lst[0]`).
3. **Unique Keys**: No duplicates (e.g., `d = {"a": 2}` vs. `lst = [1, 1]`).
4. **Flexible Mapping**: Ideal for structured data (e.g., `{"name": "Alice"}` vs. `["Alice", 25]`).
5. **Efficient Updates/Deletions**: O(1) add/remove vs. O(n) for lists (e.g., `d["key"] = 1` vs. `lst.append(1)`).

**Best for**: Lookups, frequency counting, or structured data. Lists suit ordered sequences or duplicates.

##12.What advantages do dictionaries offer over lists for certain task?
--> Sure! Here's a slightly more detailed explanation:

**1. Fast Lookups:**  
Dictionaries allow you to access values using keys instantly (on average, in constant time **O(1)**), while lists require a linear search **O(n)** if you're looking for a specific value.

**Example:**  
```python
# Dictionary
student_marks = {'Alice': 85, 'Bob': 90}
print(student_marks['Bob'])  # Fast access by key

# List
student_list = [('Alice', 85), ('Bob', 90)]
# To find Bob's marks, you have to search the list
```

**2. Key-Value Pair Structure:**  
Dictionaries store data as key-value pairs, making the relationship between items clearer and more meaningful than index-based access in lists.

**3. Better for Mapping and Grouping:**  
If you're mapping one piece of data to another (like names to scores, or IDs to details), dictionaries are the ideal choice.

**4. Avoids Duplicate Keys:**  
Dictionaries automatically handle unique keys, so they’re useful when you want to prevent duplicates.

In summary, dictionaries are better when:
- You need to associate labels (keys) with values.
- You want fast retrieval based on custom identifiers.
- You’re organizing data logically (like records or settings).

#13.How do sets handle duplicate values in Python?
-->> In Python, **sets automatically remove duplicate values**. When you add elements to a set, only unique items are kept—duplicates are discarded.

**Example:**
```python
numbers = {1, 2, 2, 3, 4, 4, 5}
print(numbers)  # Output: {1, 2, 3, 4, 5}
```

Even if you try to add duplicates later:
```python
numbers.add(3)
print(numbers)  # Still: {1, 2, 3, 4, 5}
```

### Why?  
Sets are **unordered collections of unique elements**. This property makes them great for:
- Removing duplicates from a list.
- Performing mathematical operations like union, intersection, etc.

In short: **sets ignore duplicates and keep only unique values.**

#14.How does the “in” keyword work differently for lists and dictionaries?
-->>  The in keyword behaves differently for lists and dictionaries in Python:

** For Lists:**

in checks if a value exists in the list.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)

True

** For Dictionaries:**

in checks if a key exists in the dictionary (not the value).

In [ ]:
student = {'name': 'Alice', 'age': 14}
print('name' in student)
print('Alice' in student)

True
False

##15.Can you modify the elements of a tuple? Explain why or why not?
-->> No, we cannot modify the elements of a tuple in Python. Tuples are immutable, meaning once they are created, their contents cannot be changed.
Design choice: Tuples are meant to be fixed collections—like records—that should not change.

This makes them hashable, so they can be used as keys in dictionaries or elements in sets (if they only contain immutable elements).

In [ ]:
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

 However:
If a tuple contains mutable elements (like a list), those inner elements can be modified.

In [ ]:

t = (1, [2, 3], 4)
t[1][0] = 99
print(t)

(1, [99, 3], 4)

So, the tuple itself is immutable, but if it holds mutable items, those items can still be changed.

##16.What is a nested dictionary, and give an example of its use case.
-->>A nested dictionary is a dictionary inside another dictionary. It's used to store complex or structured data in a hierarchical way.

In [ ]:
students = {
    '101': {'name': 'Alice', 'marks': 85},
    '102': {'name': 'Bob', 'marks': 90},
}
print(students['101']['name'])

Alice

Example Scenarios:

Storing student info by ID

Organizing product data in an inventory

User profiles in an app

##17.Describe the time complexity of accessing elements in a dictionary.
-->> Accessing elements in a dictionary in Python has an average-case **time complexity of O(1)** — meaning it's **very fast and constant time**, regardless of the dictionary size.

---

### 🔹 Why O(1)?
Python dictionaries use a **hash table** under the hood:
- Each key is hashed.
- The hash determines where the value is stored.
- Lookup by key is done directly via the hash — no need to search.

---

### 🔸 Worst-case: O(n)
In rare cases (like hash collisions or poorly distributed keys), lookup can degrade to **O(n)**. But Python is optimized to keep this rare.

---


Dictionaries are ideal when you need **quick data retrieval by keys**.

##18.In what situations are lists preferred over dictionaries?
-->> Lists are preferred over dictionaries when:

---

### 🔹 1. **Order Matters**
- Lists preserve **insertion order** and allow **index-based access**.
- Use when the **position** of elements is important.

**Example:** A to-do list, steps in a recipe, ordered data.

---

### 🔹 2. **Data Has No Unique Identifier**
- If your data doesn't have meaningful keys, a list is simpler.

**Example:**  
```python
colors = ['red', 'green', 'blue']
```


###  3. ** Need to Iterate in Sequence**
- Lists are great for **looping** through elements in a defined order.



### 4.    **allow repeated values**, unlike dictionaries which enforce unique keys.



### 5. **Memory Efficiency**
- Lists use **less memory** than dictionaries when key-value pairs aren’t needed.

##19.Why are dictionaries considered unordered, and how does that affect data retrieval?
-->>Dictionaries were traditionally considered **unordered** because they didn’t preserve the order in which items were added (before Python 3.7). However, starting with **Python 3.7**, dictionaries **do preserve insertion order** — but they're still conceptually treated as **unordered mappings**.



### 🔹 Why "Unordered" Conceptually?
- Dictionaries are designed for **fast key-based access**, not for ordered storage.
- The position of elements doesn't affect how data is retrieved.
- Internally, items are stored based on **hash values**, not sequence.



###  How This Affects Data Retrieval:
- You **can't access items by position/index** like in a list.
  ```python
  my_dict = {'a': 1, 'b': 2}
  print(my_dict[0]) key error
  ```
- You access data **by key**, not by order.



###  Summary:
Dictionaries are **unordered** in logic because:
- They focus on **key-based retrieval**, not order.
- The data's **physical order doesn’t matter** for how you retrieve values.

Even though modern Python keeps the order, you should still use dictionaries when **you care about keys, not positions**.

##20.Explain the difference between a list and a dictionary in terms of data retrieval.
-->> List: Index-Based Retrieval
You access elements by their position (index).

Retrieval is done using an integer index (e.g., list[0]).

Time complexity: O(1) for direct index access, O(n) for searching values.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])

banana

Dictionary: Key-Based Retrieval
You access elements by their unique key (not position).

Retrieval is done using the key (e.g., dict['name']).

Time complexity: O(1) on average due to hashing.

In [ ]:
student = {'name': 'Ali', 'age': 14}
print(student['name'])

Ali

Use lists when order matters and you access by position.

Use dictionaries when you need quick lookups using custom labels (keys)

###Practical Questions

1.Write a code to create a string with your name and print it

In [ ]:
My_Name ="soumik Dey"

In [ ]:
print(My_Name)

soumik Dey

2.Write a code to find the length of the string "Hello World

In [ ]:
S1="Hello World"

In [ ]:
len(S1)

11

##3.Write a code to slice the first 3 characters from the string "Python Programming".

In [1]:
string ="python programming"
sliced =string[:3]

In [3]:
print("First 3 characters:", sliced)

First 3 characters: pyt

###4.Write a code to convert the string "hello" to uppercase.

In [5]:
A = "hello"
Uppercase_Text = A.upper()
print("Uppercase: ", Uppercase_Text)

Uppercase:  HELLO

###5.Write a code to replace the word "apple" with "orange" in the string "I like apple.

In [8]:
Text = "I like apple"
Replaced_Text= Text.replace("apple", "orange")

In [9]:
print("Replaced Text: ", Replaced_Text)

Replaced Text:  I like orange

###6.Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
My_list = [1,2,3,4,5]

In [11]:
print(My_list)

[1, 2, 3, 4, 5]

###7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [19]:
Numbers = [1 ,2, 3, 4]
Numbers.append(10)

In [20]:
print("new_list: ", Numbers)

new_list:  [1, 2, 3, 4, 10]

###8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [21]:
A = [1 ,2 ,3, 4, 5]
A.remove(3)

In [22]:
print("B: ", A)

B:  [1, 2, 4, 5]

###9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [23]:
L1 = ['a', 'b', 'c', 'd']

In [27]:
print("second element in the list is: ",L1[1])

second element in the list is:  b

###10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [28]:
List = [10, 20, 30, 40, 50]

In [29]:
List.reverse()
print("Reversed_list: ", List)

Reversed_list:  [50, 40, 30, 20, 10]

###11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [30]:
Tup = (100, 200 , 300)

In [31]:
print("Tuple: ", Tup)

Tuple:  (100, 200, 300)

###12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [32]:
My_Bag = ('red', 'green', 'blue', 'yellow')

In [35]:
p = My_Bag[2]

In [36]:
print(" second-to-last element of the tuple: " ,p)

 second-to-last element of the tuple:  blue

###13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [37]:
tups = (10, 20 , 5 , 15)

In [38]:
print("Max_Number: ", max(tups))

Max_Number:  20

In [39]:
print("Min_Number: ", min(tups))

Min_Number:  5

###14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [40]:
colors = ('red', 'green', 'blue', 'yellow')
index_of_blue = colors.index('blue')
print("Index of 'blue':", index_of_blue)

Index of 'blue': 2

###15.. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [43]:
Shopping_list = ("apple", "banana", "coconut", "potato")

In [44]:
"kiwi" in Shopping_list

False

###16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [45]:
set = {"a", "b" ,"c"}
print(set)

{'a', 'c', 'b'}

###17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [46]:
X = {1, 2, 3, 4, 5}
X.clear()
print(X)

set()

###18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [47]:
Y = {1, 2 ,3 , 4}
Y.remove(4)
print(Y)

{1, 2, 3}

###19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [48]:
s1= {1, 2, 3}
s2= {3, 4, 5}
union_set = s1.union(s2)
print(union_set)

{1, 2, 3, 4, 5}

###20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [49]:
s3= {1, 2, 3}
s4= {3, 4, 5}
Intersction_set= s3.intersection(s4)
print(Intersction_set)

{3}

###21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [50]:
My_Dict = {"Name": "Soumik", "Age": 26, "City": "Burdwan"}
print(My_Dict)

{'Name': 'Soumik', 'Age': 26, 'City': 'Burdwan'}

###22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [51]:
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

###23.. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age:30

In [52]:
info = {'name': 'Alice', 'age': 30}
name_value = info['name']
print(name_value)

Alice

###24.. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [53]:
info2= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info2['age']
print(info2)

{'name': 'Bob', 'city': 'New York'}

###25.. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [54]:
address= {'name': 'Alice', 'city': 'Paris'}
if 'city' in address:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

###26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [55]:
my_list = [1, 2, "apple", 5.6]
tuple = (1, 4, 90, 45, 22.5, 10.25)
my_dict = {"Name":"soumik", "age":26, "city":"Burdwan"}
print("List: ", my_list)
print("Tuple: ", tuple)
print("Dictionary: ", my_dict)

List:  [1, 2, 'apple', 5.6]
Tuple:  (1, 4, 90, 45, 22.5, 10.25)
Dictionary:  {'Name': 'soumik', 'age': 26, 'city': 'Burdwan'}

###27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [56]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [20, 24, 24, 37, 68]

###28.. Write a code to create a list with strings and print the element at the third index

In [57]:

fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", fruits[3])

Element at index 3: date

###29.Write a code to combine two dictionaries into one and print the result

In [58]:

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

###30.Write a code to convert a list of strings into a set.

In [1]:
# List of strings
words = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
unique_words = set(words)

# Print the set
print("Set of unique words:", unique_words)

Set of unique words: {'banana', 'apple', 'cherry'}